* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

/*caja de color
 #138539 barra pie / depagina
 #D2E9E9 colorLLETRAS nav/pie /section principal
 
 familias de letras 
 h1 / font-family: Georgia 
 nav /  font-family:'Arial Narrow Bold', sans-serif;
 
 section/ font-family:Arial, Helvetica, sans-serif;
                    :Verdana, Geneva, Tahoma, sans-serif
 font-size:/18px; secciones grandes
 */

.navbar {
    background-color: #138539;
    font-family: 'Arial Narrow Bold', sans-serif;
}


.nav-item a {
    padding-top: 5px;
    text-transform: capitalize;
    color: rgb(44, 43, 43);


}

h1 {
    color: #408768;
    font-size: 3rem;
    padding-top: 2rem;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-transform: capitalize;
}

.eslogan h1 {
    display: flex;
    justify-content: start;

}

.aside {

    border: 1px solid rgb(209, 206, 206);
    overflow: hidden;
}

.secPrincipal {
    background-color: rgb(185, 214, 196);
}

.redeSociales,
.contacto,
.paginaVentas,
.subc {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #138539;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 25px;


}


.redeSociales {
    display: flex;
    align-items: start;
    padding-left: 1rem;
}


h4 {
    color: rgb(77, 62, 62);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-transform: capitalize;


}

h3 {
    font-size: 1rem;
    display: flex;
    align-items: start;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 43, 43);
    font-size: 14px;

}

.boton {
    background-color: #4CAF50;
    border-radius: 24px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.boton:hover {
    background-color: #df1e17;
}


/*pagina blog///////////////////////*/


.logoCursos img {
    width: 300px;
}

.esloganCursos h1 h2 {
    padding: 0%;

}

.banner {
    background-color: #138539;

}

.banner img {
    width: 300px;
}

.indiceDepreguntas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.img-excel {
    width: 200px;
    padding-bottom: 2rem;
    padding-top: 2rem;

}


.h3Blog h3 {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.res1,
.res2,
.res3,
.res4 {

    font-size: 18px;
    font-weight: 100;
    text-align: left;
    font-family: sans-serif;
    color: rgb(87, 85, 85);

}


.subc input {
    width: 200px;
    font-display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

.subc a {
    font-display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
}

/*pagina Cursos//////////////////////*/

.imgCursos {
    margin-top: 5rem;
}

.hCursos {
    font-size: 30px;
    font-weight: 400;

}

.imgCursos img {
    width: 80%;
    height: 80%;
}


.colorContenidocursos {
    background-color: rgb(185, 214, 196);
    padding: 2rem;
}



/* Boton de venta*/
.botVenta {
    margin: 50px auto;
    max-width: 600px;
    background-color: none;

}

.botonVenta a {
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonVenta {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5rem;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5rem;
    background-color: #C53A3A;
    border: 2px solid #5f1a1a;
    color: #FFFFFF;
    cursor: pointer;

}


/*pagina Aprender /////////////////////////*/

.logoAprender img {
    width: 350px;

}

.logoAprender {
    margin-top: 1rem;
    padding: 0;
}

.esloganAprender {
    padding-top: -2rem;

}

.h2aprende {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;

}

.colorpagAprende {
    background-color: rgb(185, 214, 196);
    ;
}

.contenidoAprender {
    padding: 2rem;

}

.formAprende {
    margin-top: 6rem;
}

/*formulario*/
.form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: bold;
}

.labelForm {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/*pagina de venta////////////////////////////*/
.parte1 {
    background-color: rgb(185, 214, 196);
    margin-bottom: 2rem;
}

.parte2 {
    background-color: rgb(185, 214, 196);
}

.imgVenta{

}

.imgVenta img {
    width: 50%;
    padding-top: 8rem;

}

.imgcarousel {
    width: 500px;
    height: 500px;

}
.imgcarousel img {
    width: 350px;
    height: 350px;
 
}
.argumentos{
    background-color: rgb(185, 214, 196) ;
   margin-top: 1rem;
margin-bottom:1rem ;}


/*responsive*/
@media screen and (max-width:375px) {

    .redeSociales,
    .contacto,
    .paginaVentas,
    .subc,
    .novedades {
        border-bottom: 0.5px solid rgb(99, 96, 96);
        padding-bottom: 1rem;
        padding-top: 1rem;
        display: flex;
        align-items: center;


    }
}


@media screen and (min-width:375px) {
    .banner img {
        width: 300px;
    }
}

@media screen and (max-width:375px) {
    .img-excel {
        width: 400px;
    }
}

@media screen and (max-width:375px) {

    .esloganCursos,
    .logoCursos {
        text-align: center;


    }

}

@media screen and (max-width:375px) {
    .imgCursos {
        display: none;

    }

}

@media screen and (max-width:375px) {
    .formA {
        width: 300px;
    }

    .forMedia {
        margin-top: 1rem;
    }
}

@media screen and (max-width:375px) {
    .imgVenta img {
        display: none;
    }

    
    .imgVenta {
        padding: 20px
    }

    .imgcarousel img {
        width: 300px;
        height: 300px;
    }
}
 
@media screen and ( min-width:500px){
.mc{
width: 100%;

}
 }