.font-A {
   h2 {
      text-transform: capitalize;
      font-family: nth($excel-fonts, 2);
   }
}


.pagventa {
   background-color: rgb(193, 228, 208);
   padding: 24px;
   margin-bottom: 2rem;

   p {
      text-transform: capitalize;
      font-family: $ft-family;
      font-size: $font-sec;
      padding-top: 1rem;
      margin: 0;
   }
}

.pagventa-2 {
   padding: 24px;
   background-color: rgba(219, 61, 61, 0.836);

   p {
      text-transform: capitalize;
      font-family: $ft-family;
      font-size: $font-sec;
      padding-top: 1rem;
      font-weight: bold;
   }
}

venta-body {
   background-color: $seccion-color;
}

.parte3 {
   padding: 24px;
   background-color: nth($colores, 1);
   margin-bottom: 1rem;



   p {
      text-transform: capitalize;
      font-family: $ft-family;
      font-size: $font-sec;
      padding-top: 1rem;
      font-weight: bold;
      color: rgb(223, 203, 203);

   }
}

.cajaventa {
   width: auto;
   background-color: rgb(160, 153, 153);
   opacity: 0.9;
   z-index: 1;

   h5 {
      color: rgb(255, 253, 252);
      text-transform: capitalize;

   }


   p {
      color: rgb(54, 53, 52);
      text-transform: capitalize;

   }


}

.tituloPrincipalVentas {
   color: rgb(182, 40, 40);
   font-size: 24px;
   font-weight: bold;
   font-family: $ft-family;


}

@media screen and (max-width: 576px) {
   .cajaventa {
      opacity: 0.8;
   }

}