.sec-principal {
  @include parrafos;
  margin: 8px;
  background-color: $seccion-color;

  P {
    font-family: $ft-family;


  }
}

.tituloPrincipal{
font-size:nth($font, 3 );
font-family: 'Courier New', Courier, monospace;
font-weight: bold
}

.eslogan {
  text-transform: capitalize;
  
  h2 {
  
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(34, 65, 46);
    text-align: center;}


    h3 {
      font-size:20px;
      color: #382525;
      text-align: center;
    }


    

}

.botonVenta {

  display: inline-block;
  padding: 3px;
  background-color: #f70000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid black;
  width: 50%;
 




  .botonVenta:hover {
    background-color: #f70000;
  }
}

.estiloBoton {
  padding: 2rem;
}