$colores:
    #138539,
    #408768,
    rgb(185, 214, 196),
    #382525,
    rgb(34, 65, 46);

$font:
3rem,
2rem,
24px,
20px
18px,
16px,
12px,
10px,
3rem;


$excel-fonts: 
  "Arial",
  "Helvetica",
  "Calibri",
  "Verdana",
  "Segoe UI",
  "Tahoma",
  "Trebuchet MS",
  "Georgia",
  "Times New Roman",
  "Palatino",
  "Arial Black",
  "Impact",
  "Lucida Sans Unicode",
  "Courier New",
  "Lucida Console",
;



